<div class="modal">
    <div class="componentes-modal">
      <h2>Deletar Espaço?</h2>
    
        <div class="list">
        <div class="informacoes">
          <img class="icon" src="../../assets/1.png" alt="">
          <span class="link">{{exibirEspaco.nome}}</span>
        </div>
        <div class="informacoes">
            <img class="icon" src="../../assets/2.png" alt="">
            <span class="link">{{exibirEspaco.ponto_referencia}}</span>
        </div>      
        </div>
        <button class="not" (click)="fecharModal()">Não</button>
        <button class="yes" (click)="deletarEspaco()">Sim</button>
    
    </div>
    <img class="exit" src="../../assets/exit.png">
    
    </div>