<main>
  <section class="login">

  <div class="itens">
      <img src="../../assets/logo.png" class="login_logo">

      <h1 class="titulo_principal">Agendamento de <br>
        Espaços</h1>
  
      <label class="login_label">
        
        <input type="text" name="username" placeholder="E-mail"class="input">
      </label>

      <label class="login_label">
        <input [type]="mostrarsenha ? 'text' : 'password'" name="password" placeholder="Senha"  class="input">
      </label>
      <img id="eye" class="image" [src]="mostrarsenha ?  '../../assets/eye 1.svg' : '../../assets/eye-off.svg' " (click)="visibilidadesenha()" >
    
      <button>Entrar</button>

     

      <div class="contato">
        <h3 class="subtitulo">Dúvidas? entre em contato</h3>
        <ul class="lista">
          <li class="num1">comunicacao@fsnt.com.br</li>
          <li class="num2">(14) 3405-2033</li>

        </ul>
      </div>
      <img src="../../assets/logo_transparente.png" class="login_logo_fsnt">
               
  </div>    
   </section>
   

  <section class="wallpaper"></section>
</main>
