@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}
main {
  display: flex;  
  overflow: hidden;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  padding: clamp(35px, 8%, 70px);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login_logo {
  width: 110px;
  margin-bottom: 30px;
}

.login_title {
  color: #398414;
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
  font-family:  'Montserrat','Open Sans', sans-serif;
}

.login_label {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.input {
  height: 45px;
  width: 100%;
  background-color: #f1f0f5;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  outline: none;
  font-size: 0.9em;
  padding: 35px 10px 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 600;
  color: #33303E;
}


.login_label ::placeholder{
  color:  #7A7A7A;
  font-weight: 200;
  margin-bottom: 20;
  position: absolute;
  top: 15px; 
  left: 2;
}



.wallpaper {
  width: 100%;
  background-image: url('../../assets/img_login.jpeg');
  background-size: cover;
  background-position: center;
  flex: 1;
}


button{
  width: 132px;
  height: 45px;
  border-radius: 50px;
  color:#fff;
  background-color: #ff9f10;
  border: none;
}

.contato{
  margin-top: 50px;
}
.semi-bold{
  color: #398414;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
  font-family:  'Montserrat','Open Sans', sans-serif;

}
ul li{
  list-style: none;
  display: inline;
  margin-inline-end: 15px;
  font-weight: 300;
  color: #33303E
 
}

button :hover{
background-color: #ED6316;
}



.login_logo_fsnt{
  margin-top:25px;
  width: 200px;
}