@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}
main {
  display: flex;  
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  padding: clamp(35px, 8%, 70px);
}

.itens {
  height: 98vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.login_logo {
  width: 110px;
  margin-bottom: 30px;
  margin-top: -55px;
}

.titulo_principal{
  color: #398414;
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  font-family:  'Montserrat','Open Sans', sans-serif;
}

.login_label {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.input {
  padding:  15px 10px;
}

.login_label ::placeholder{
  color:  #7A7A7A;
  font-weight: 200;
  margin-bottom: 2;
  position: absolute;
  top: 15px; 
  left: 2.5;
  bottom: 5px;
}



.wallpaper {
  width: 70%;
  background-image: url('../../assets/img_login.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
}

.contato{
  margin-top: 50px;
}
.subtitulo{
  color: #398414;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: -30px;
  text-align: center;
  font-family:  'Montserrat','Open Sans', sans-serif;

}
ul li{
  list-style: none;
  display: inline;
  margin-inline-end: 15px;
  font-weight: 300;
  color: var(--gray-color-scale1); 
}

button :hover{
background-color: var(--color-secondary);
margin-bottom: 0;
}

.login_logo_fsnt{
  margin-top:15px;
  margin-bottom: 0px;
  width: 200px;
}
.image{
  position: relative;
  left: 150px;
  bottom: 52px;
}