<div class="container">
  <div class="sidebar">
      <div class="componentes-sidebar">
        <div class="logo-img">
          <img src="../../assets/logo.png" class="logo"> 
          
        </div>
    <hr>
    <ul class="lists">
      <li class="list">
        <a [routerLink]="['/solicitar']" class="nav-link">
          <img src="../../assets/Vector.png"  class="icon">
          <span class="link">Solicitar Espaço</span>
        </a>
      </li>

      <li class="list">
        <a [routerLink]="['/visualizar']" class="nav-link">
          <img src="../../assets/calendar-clear-outline.png" class="icon">
          <span class="material-symbols-outlined">
           
            </span>
        <span class="link">Visualizar Agendamentos</span>
        </a>
      </li>
    </ul>

    <div class="outside">
      <li class="list">
      <a href="" class="nav-link">
        <img src="../../assets/log-out.png"  class="icon">
          <span class="link">Sair</span>
        </a>
      </li>
    </div>
      
    

      </div>

  </div>
  
  <div class="form">
    <!--Ínicio do header-->
      <div class="titulo">
        <h2>Olá, Solicitante.</h2>
        <h3 class="solicitante">Visualize aqui o espaço que foi agendado</h3>
      </div>


    <!--Início da tabela-->
    

    <div class="table">
    <table class="content-table">
      <thead>
        <tr>
          <th>Data</th>
          <th>Horário</th>
          <th>Local</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rows of exibiragendamentos">
          <td>{{rows.data}}</td>
          <td>{{rows.horario}}</td>
          <td>{{rows.espaco}}</td>
        </tr>
  
        
      </tbody>
    </table>
  </div>

    
   <footer>
    <hr class="line">
    <div class="rodape">
    
    <img src="../../assets/logo_transparente.png" class="logo_fsnt">
    <h3 class="subtitulo">Dúvidas? entre em contato</h3>
        
          <p class="num1">comunicacao@fsnt.com.br</p>
          <p class="num2">(14) 3405-2033</p>

       
    </div>
  </footer>     
    
        
      
  </div>

 
</div>